{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Contact {% endblock %}

{% block body %}
    <h2>Contact</h2>
    <a href="https://www.linkedin.com/in/jftignon" title="LinkedIn">
        <img src="{{ asset('/img/icons8-linkedin.svg') }}" alt="LinkedIn"></a>
    <p>jeanfrancois.tignon2023@campus-eni.fr</p>
{% endblock %}



