{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil {% endblock %}

{% block body %}
    <h2>Accueil</h2>
    <p>Ce site permet à ses utilisateurs de créer
    une liste de toutes les choses qu’ils souhaitent au moins une fois dans leur vie, comme par
    exemple voir la Grande Muraille de Chine, boire du Champagne dans une limousine,
        sauter en parachute...</p>
    <p>Ce type de liste se nomme une « bucket-list » en anglais.</p>
    <p>On vous souhaite une bonne navigation !</p>

{% endblock %}

