body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Crimson Text', sans-serif;
    background-color: aliceblue;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}
header {
    background-color: #A5A58D;
    padding: 1rem 0;
}
header h1 {
    margin: 0 0 10px 0;
    flex: 1;
}
table a, header a {
    text-decoration: none;
    color: inherit;
}
.header-nav a{
    margin-right: 1.2rem;
}
main h2 {
    margin-top: 0;
}
header nav a:hover{
    text-decoration: underline;
}
.header-logo {
    font-size: 3rem;
    font-weight: normal;
}
.header-logo img {
    max-width: 42px;
    margin-right: 5px;
}
.header-nav {
    display: flex;
}

nav ul  {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0.5rem 0 0 0;
}


nav li {
    margin-right: 0rem;
}
main {
    flex: 1;
    padding: 1rem 0;
    background-color: #FFF1E6;
}
footer {
    padding: 0.5rem 0;
    text-align: center;
    background-color: #EDDCD2;
}
footer a {
    text-decoration: none;
    color: inherit;
}
.footer-nav a {
    margin-right: 2rem;
}
footer nav a:hover {
    text-decoration: underline;
}
.team-members article {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
.team-members article img {
    width: 210px;
    border-radius: 50%;
    margin: auto;
}
@media screen and (min-width: 680px) {
    .team-members article {
        flex-direction: row;
    }
    .team-members article:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .team-members article img {
        margin-right: 20px;
    }
    .team-members article:nth-child(odd) img {
        margin-right: 0;
        margin-left: 20px;
    }
}

.wish-list article {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
.wish-list article a {
    text-decoration: none;
    color: inherit;
}
.wish-list article a:hover {
     color: #BC956B;
 }
.wish-infos {
    font-size: 0.9rem;
    font-style: italic;
}
.copyright {
    margin: 1.5rem 0 0.5rem 0;
    font-weight: bold;
}
label {
    display:block;
}
input,
textarea,
select {
    margin-bottom: 1rem;
    box-sizing: border-box;
    max-width: 50%;
    width: 300px;
}
.flash {
    padding: 10px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}
.flash-success {
    color: darkseagreen;
    border-style: solid;
    border-width: 1px;
    border-color: darkseagreen;
}

.col-wish1 {
    width: 200px;
}
.col-wish2 {
    width: 150px;
}
.col-wish3 {
    width: 75px;
    text-align: center;
}
.col-wish4 {
    width: 75px;
    text-align: center;
}
.col-wish4 img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}
.col-btn {
    padding: 0 5px;
}
.btn {
    min-width: 100px;
    border-radius: 5px;
    margin: 5px 0;
}
.btn-modifier {
    background-color: aliceblue;
}
.btn-supprimer {
    background-color: mistyrose;
}
tr {
    height: 35px;
}
#wish ul li {
    color : red;
    font-style: italic;
}
#wish ul  {
    margin: 0;
    padding-left: 20px;
}
.header-top {
    display: flex;
    justify-content: space-between;
}

.user-nav a:hover{
    text-decoration: underline;
}

.user-nav {
    display :block;
    width: 170px;
}
.user-logo {
    display: block;
    font-weight: bold;
}
.user-logo img {
    max-width: 12px;
    margin: 0 5px;
}
.user-nav div {
    text-align: center;

    margin: 5px auto;
}
.remember {
    display:flex;
}
.remember input {
    margin: 2px 0 12px 0;
    width: 50px;
}

#wish > :nth-child(6) {
    display:flex;
}
#wish > :nth-child(6) input{
    margin: 2px 0 12px 0;
    width: 50px;
}
.container > div > :nth-child(6) {
    display:flex;
}
.container > div > :nth-child(6) input{
    margin: 2px 0 12px 0;
    width: 50px;
}


