{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Supprimer
{% endblock %}

{% block body %}
    <h2>Supprimer ce souhait :</h2>
    <div>
        {{ form_start(wishForm) }}
        {{ form_widget(wishForm) }}
        {{ form_end(wishForm) }}
    </div>



{% endblock %}

