{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Titre de l'idée
{% endblock %}

{% block body %}
    <h2>Detail d'un wish... Titre de l'idée ici!</h2>
    Contenu de la page "Detail" en cours de création
{% endblock %}

