{% extends 'base.html.twig' %}

{% block body %}
    <h2>All wishes</h2>
    Contenu de la page "List" en cours de création
{% endblock %}

{% block title %}
{{ parent() }} | All wishes
{% endblock %}

