{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modifier
{% endblock %}

{% block body %}
    <h2>Modifier votre souhait!</h2>
    <div>
        {{ form_start(wishForm) }}
        {{ form_widget(wishForm) }}
        {{ form_end(wishForm) }}
    </div>
{% endblock %}




