<nav class="header-nav">
    <ul>
        <li><a href="{{ path('app_main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('app_main_about_us') }}" title="About us">About us</a></li>
        <li><a href="{{ path('app_wish_list') }}" title="All things to do">All wishes</a></li>
        <li><a href="{{ path('app_main_test') }}" title="Test">Test</a></li>
        <li><a href="#" title="Contact">Contact</a></li>
    </ul>
</nav>