{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon compte {% endblock %}

{% block body %}
    <h2>Mon compte</h2>
    <p> en construction... </p>
    <div>
        <table>
            <tr>
                <th>Pseudo :</th>
                <td>en attente du pseudo</td>
            </tr>
            <tr>
                <th>Email :</th>
                <td>en attente de l'email</td>
            </tr>
        </table>
    </div>

{% endblock %}
